html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-fluid {
    min-width: 1050px;
    padding: 0 14px 0 14px;
    width:100%;
}

.container-calculator {
    padding: 28px 14px 0 14px;
}

.container-results {
    padding: 0 14px 0 14px;
    margin: 0;
}

.navbar-brand {
    margin: 0;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {
    min-height:28px !important;
    margin: 0;
    background: white;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav>.navItem_general>a {
    color: grey;
}

.nav_order_dropdown_menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image:none !important;
}
.nav_order_dropdown_menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#80cc28;
    color: white;
}

.nav>.nav_order_dropdown>a:focus, .nav>.nav_order_dropdown>a:hover {
    background: #80cc28 none;
    color: white;
}

.dropdown-header-description {
    margin: 0;
    padding: 0;
}

.navbar-generic {
    background: transparent;
}

.footer {
    background: #262525;
    color: grey;
    width: 100%;
}

.footer-text {
    padding: 1px 14px 1px 14px;
}

.nav_order_dropdown {
    background: #80cc28;
}

.nav_order_dropdown:hover {
    background: #80cc28;
}

.nav_order_dropdown_text {
    color: white;
}

.input-group-addon_first {
    min-width:200px;
    text-align:left;
}
.input-group-addon_last {
    min-width:90px;
    text-align:left;
}

.jumbotron_cloud_server {
    margin: 0;
    padding: 1mm;
    background: white;
    border: none;
}
.jumbotron_results {
    padding: 2mm;

    background: white;
}
.resultSpace {
    margin: 0 0 3mm 0;
}
.resultHeader {
    margin: 0;
}
.resultServer {
    border: 0.4mm solid #00b3ee;
    margin: 3mm 0 3mm 0;
    border-radius: 1mm;
    padding: 1mm;
}

.table td {
    text-align: center;
}

thead {
    font-weight: bold;
}

.page-header {
    margin: 0;
    padding: 0;
}

.inputServerInfo {
    max-width: 780px;
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 1100px) {
    .container {
        width: 1100px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1600px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1800px;
    }
}


