html, body {
    margin: 0;
    padding: 0;
}

.container-calculator {
    padding: 0 14px 0 14px;
    margin: 0 0 0 0;
}

.container-results {
    padding: 0;
    margin: 0;
}

.appHeader {
    color: white;
}

.bHeader {
    color: rgb(0, 38, 70);
    font-family: 'Open Sans', sans-serif;
    font-size: 10mm;
    font-weight: 300;
    line-height: 10mm;
    padding: 0px;
    text-align: center;
    vertical-align: top;
}

.bDescription {
    color: rgb(51, 51, 51);
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 6mm;
    font-weight: 300;
    line-height: 8mm;
    /*margin: 0 0 10mm 0;*/
    padding: 0px;
    text-align: center;
    vertical-align: top;
}

.sDescription {
    color: rgb(51, 51, 51);
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 4mm;
    font-weight: 300;
    line-height: 8mm;
    /*margin: 0 0 10mm 0;*/
    padding: 0px;
    text-align: justify;
    vertical-align: top;
}

.note {
    font-size: 3mm;
}

.noBorder {
    border: none;
}

.usualButtonBackground {
    background: #f5f5f5;
}

.input-group-addon {
    background: #f5f5f5;
}

.cloudPlatformSelector_virtuozzo_tabImage {
    width: 30mm;
}

.cloudPlatformSelector_azurePack_tabImage {
    width: 30mm;
}

.cloudPlatformSelector_azure_tabImage {
    width: 30mm;
}

.input-group {
    border: none;
}

.dropdown-header-description {
    margin: 0;
    padding: 0;
}

.footer {
    background: white;
    color: lightgrey;
    width: 100%;
}

.footer-text {
    padding: 0 0 0 0;
    text-align: center;
}

.row {
    margin: 0;
    padding: 0;
}

.jumbotron_cloud_server {
    margin: 0;
    padding: 1mm;
    background: white;
    border: none;
}
.jumbotron_results {
    margin: 0;
    padding: 2mm;
    background: white;
}
.totalCostSpace {
    margin: 0 0 1mm 0;
}
.resultHeader {
    margin: 0;
}
.resultServer {
    border: 0.4mm solid #00b3ee;
    margin: 3mm 0 3mm 0;
    border-radius: 1mm;
    padding: 1mm;
}

.page-header {
    margin: 0;
    padding: 0;
}

.table td {
    text-align: left;
}

thead {
    font-weight: bold;
}








