.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
}

.navbar {
    min-height:28px !important;
    margin: 0;
    background: white;
}

.navbar-nav {
    margin: 0;
}

.navbar-brand {
    padding: 0 15px 0 0;
}

.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
    margin: 0;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav>.navItem_general>a {
    color: grey;
}

.nav_order_dropdown_menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image:none !important;
}
.nav_order_dropdown_menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#80cc28;
    color: white;
}

.nav>.nav_order_dropdown>a:focus, .nav>.nav_order_dropdown>a:hover {
    background: #80cc28 none;
    color: white;
}

.menuBar_navItem_logo {
    padding: 0 4mm 0 4mm;
}
.menuBar_navItem_logo:hover {
    background: #f0eef5;
    cursor: hand;
}

.menuBar_navItem_logo:hover > .menuBar_navItem_logo_ic {
    background: url("img/infobox-logo.svg") no-repeat center;
    background-size: 100%;
}

.navbar-nav:hover > .menuBar_navItem_logo {
    cursor: pointer;
}

.menuBar_navItem_logo > .menuBar_navItem_logo_ic {
    width: 82px;
    height: 28px;
    background: url("img/infobox-logo-white.svg") no-repeat center;
    background-size: 100%;
    cursor: hand;
}

.navbar-generic {
    background: transparent;
}

.nav_order_dropdown {
    background: #80cc28;
}

.nav_order_dropdown:hover {
    background: #80cc28;
}

.nav_order_dropdown_text {
    color: white;
}

.menuBar {
    background: #262525;
}

.menuBar_headerMenuItem {
    color: #cde3ed;
}