.virtuozzo_addButton  {
    background: #68bf2f;
}

.virtuozzo_clearListButton {
    background: #f65343;
}

.virtuozzo_nHeader {
    color: #444B55;
    font-family: "Arial", sans-serif;
    font-size: 4mm;
    line-height: 5mm;
    margin: 2mm 0 2mm 0;
}

.virtuozzo_nText {
    color: #83909a;
    font-family: "Arial", sans-serif;
    font-size: 4mm;
    font-weight: 300;
    line-height: 5mm;
    margin: 1mm 0 3mm 0;
}

/*.virtuozzo_groupDefaultHidden {*/
    /*display: none;*/
/*}*/

.virtuozzo_groupTrafficDefaultContainer_collapsed {
    visibility: collapse;
    height: 0;
}

.virtuozzo_inputServerInfo {
    min-width: 210mm;
    max-width: 210mm;
}

.virtuozzo_controlButtons {
    min-width: 210mm;
    max-width: 210mm;
}

.virtuozzo_input-group-addon_first {
    min-width:53mm;
    text-align:left;
}
.virtuozzo_input-group-addon_last {
    min-width:25mm;
    text-align:left;
}

.virtuozzo_input-group-addon {
    text-align: left;
}

