@font-face {
    font-family: "MTSSansWeb";
    src: url("../../fonts/MTSSans-Regular.otf") format("opentype");
}

* {
    font-family: MTSSansWeb, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.ecc {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 2mm;
    grid-template-columns: auto;
    grid-template-areas:
            "header"
            "subHeader"
            "previewCalc"
            "howTo"
            "chooser"
            "addToResult";
}

.ecc_header {
    justify-self: left;
    grid-area: header;
}

.ecc_subheader {
    justify-self: left;
    grid-area: subHeader;
}
.ecc_previewCalc {
    padding: 2mm 2mm 0 2mm;
    justify-self: right;
    background: rgb(156, 156, 156);
    color: white;
    border-radius: 2mm 2mm 0 0;
    grid-area: previewCalc;
}

.ecc_previewCalc_header {
    font-size: 5mm;
    padding: 0 0 2mm 0;
}

.ecc_previewCalc_result {
    font-size: 8mm;
    padding: 0 0 1mm 0;
}


.ecc_addTo_result {
    margin: 2mm;
    padding: 2mm 4mm 2mm 4mm;
    justify-self: right;
    background: rgb(227, 6, 17);
    color: white;
    grid-area: addToResult;
}

.ecc_howTo {
    justify-self: left;
    font-weight: normal;
    grid-area: howTo;
}

.ecc_toDO_DC {
    grid-area: toDO_DC;
    font-weight: bold;
    font-size: 5mm;
}

.ecc_toDO_Pool {
    grid-area: toDO_Pool;
    font-weight: bold;
    font-size: 5mm;
    margin: 4mm 0 0 0;
}

.ecc_common_pool_comment {
    grid-area: common_pool_comment;
    font-weight: normal;
    font-size: 4mm;
    margin: 4mm 0 0 0;
}

.ecc_chooser {
    padding: 2mm 0 0 0;
    justify-self: stretch;
    grid-area: chooser;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 2mm;
    grid-template-areas:
            "toDO_DC toDO_DC toDO_DC"
            "name_tarifModel value_tarifModel value_tarifModel"
            "name_region value_region value_region"
            "name_dc value_dc value_dc"
            "name_segment value_segment value_segment"
            "toDO_Pool toDO_Pool toDO_Pool"
            "name_calculationModel value_calculationModel value_calculationModel"
            "common_pool_comment common_pool_comment common_pool_comment"
            "name_vCPU value_vCPU dimension_vCPU"
            "name_RAM value_RAM dimension_RAM"
            "name_nonSSD value_nonSSD dimension_nonSSD"
            "name_SAS value_SAS dimension_SAS"
            "name_SSD value_SSD dimension_SSD"
            "toDO_Options toDO_Options toDO_Options"
            "name_Windows value_Windows dimension_Windows"
            "name_Internet value_Internet value_Internet"
            "name_IPv4 value_IPv4 dimension_IPv4"
            "name_IPv4subnet value_IPv4subnet value_IPv4subnet"
            "name_IPv6 value_IPv6 dimension_IPv6"
            "name_USB value_USB dimension_USB"
            "name_vBackup value_vBackup dimension_vBackup"
            "name_BackupVM value_BackupVM dimension_BackupVM"
            "name_AV value_AV dimension_AV"
            "name_AntiDDOS value_AntiDDOS value_AntiDDOS";

}

.ecc_chooser_name .ecc_chooser_value {
    justify-self: stretch;
}
.ecc_chooser_name {
    padding: 1mm 3mm 1mm 3mm;

    font-family: "MTSSansWeb", serif;
    font-size: 4mm;
}

.ecc_chooser_name_tarifModel {
    grid-area: name_tarifModel;
    margin: 4mm 0 0 0;
}

.ecc_chooser_value_tarifModel {
    grid-area: value_tarifModel;
    margin: 4mm 0 0 0;
}

.ecc_chooser_name_dc {
    grid-area: name_dc;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_dc_select {
}

.ecc_chooser_name_region {
    grid-area: name_region;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_dc {
    grid-area: value_dc;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_region {
    grid-area: value_region;
    margin: 2mm 0 0 0;
}

.ecc_chooser_name_segment {
    grid-area: name_segment;
    display: grid;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_segment {
    grid-area: value_segment;
    margin: 2mm 0 0 0;
}

.ecc_chooser_name_calculationModel {
    grid-area: name_calculationModel;
    margin: 4mm 0 0 0;
}

.ecc_chooser_value_calculationModel {
    grid-area: value_calculationModel;
    margin: 4mm 0 0 0;
}

/*.ecc_chooser_commonResources {*/
/*    padding: 2mm 0 0 0;*/
/*    justify-self: stretch;*/
/*    grid-area: chooser_commonResources;*/
/*    display: grid;*/
/*    grid-auto-rows: 1fr;*/
/*    grid-template-columns: auto 1fr minmax(10mm, auto);*/
/*    grid-column-gap: 2mm;*/
/*    grid-row-gap: 2mm;*/
/*    grid-template-areas:*/
/*            "name_vCPU value_vCPU dimension"*/
/*}*/

.ecc_chooser_name_vCPU {
    grid-area: name_vCPU;
    align-self: center;
    margin: 4mm 0 0 0;
}

.ecc_chooser_value_vCPU {
    display: grid;
    grid-area: value_vCPU;
    margin: 4mm 0 0 0;
}

.ecc_chooser_name_RAM {
    grid-area: name_RAM;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_RAM {
    display: grid;
    grid-area: value_RAM;
    margin: 2mm 0 0 0;
}



.ecc_chooser_value_input {
    justify-self: stretch;
    padding: 1.5mm 1.8mm;
    border: 0.4mm solid #dbdee5;
    border-radius: 4px;
    font-size: 4mm;
}

/*.ecc_chooser_value_input:focus {*/
/*    justify-self: stretch;*/
/*    padding: 1.5mm 1.8mm;*/
/*    border: 0.4mm solid #dbdee5;*/
/*    border-radius: 4px;*/
/*    font-size: 4mm;*/
/*}*/

.ecc_chooser_dimension {
    grid-area: dimension;
    align-self: center;
    color: black;
}

.ecc_chooser_dimension_vCPU {
    grid-area: dimension_vCPU;
    align-self: center;
    color: black;
}

.ecc_chooser_dimension_RAM {
    grid-area: dimension_RAM;
    align-self: center;
    color: black;
}

.ecc_chooser_name_nonSSD {
    grid-area: name_nonSSD;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_nonSSD {
    display: grid;
    grid-area: value_nonSSD;
    margin: 2mm 0 0 0;
}

.ecc_chooser_dimension_nonSSD {
    grid-area: dimension_nonSSD;
    align-self: center;
    color: black;
}

.ecc_chooser_name_SAS {
    grid-area: name_SAS;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_SAS {
    display: grid;
    grid-area: value_SAS;
    margin: 2mm 0 0 0;
}

.ecc_chooser_dimension_SAS {
    grid-area: dimension_SAS;
    align-self: center;
    color: black;
}

.ecc_chooser_name_SSD {
    grid-area: name_SSD;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_SSD {
    display: grid;
    grid-area: value_SSD;
    margin: 2mm 0 0 0;
}

.ecc_chooser_dimension_SSD {
    grid-area: dimension_SSD;
    align-self: center;
    color: black;
}

.ecc_toDO_Options {
    grid-area: toDO_Options;
    font-weight: bold;
    font-size: 5mm;
    margin: 4mm 0 0 0;
}

.ecc_chooser_name_Windows {
    grid-area: name_Windows;
    display: grid;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_Windows {
    grid-area: value_Windows;
    margin: 2mm 0 0 0;
    display: grid;
}

.ecc_chooser_dimension_Windows {
    grid-area: dimension_Windows;
    align-self: center;
    color: black;
}

.ecc_chooser_name_Internet {
    grid-area: name_Internet;
    display: grid;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_Internet {
    grid-area: value_Internet;
    margin: 2mm 0 0 0;
}

.ecc_chooser_name_IPv4 {
    grid-area: name_IPv4;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_IPv4 {
    display: grid;
    grid-area: value_IPv4;
    margin: 2mm 0 0 0;
}

.ecc_chooser_dimension_IPv4 {
    grid-area: dimension_IPv4;
    align-self: center;
    color: black;
}

.ecc_chooser_name_IPv6 {
    grid-area: name_IPv6;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_IPv6 {
    display: grid;
    grid-area: value_IPv6;
    margin: 2mm 0 0 0;
}

.ecc_chooser_dimension_IPv6 {
    grid-area: dimension_IPv6;
    align-self: center;
    color: black;
}

.ecc_chooser_name_IPv4subnet {
    grid-area: name_IPv4subnet;
    display: grid;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_IPv4subnet_space {
    grid-area: value_IPv4subnet;
    margin: 2mm 0 0 0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    grid-row-gap: 2mm;
}

.ecc_chooser_value_IPv4subnet_internalSpace {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2mm;
}

.ecc_chooser_value_IPv4subnet {
    /*display: grid;*/

}

.ecc_chooser_multi_value_hiddenCodeSource {
    display: none;
}

.ecc_chooser_addSubnetField {
    display: grid;
    padding: 1mm 1mm 1mm 1mm;
    text-align: center;
    background: rgb(114, 114, 114);
    color: white;
    width: 4mm;
    user-select: none;
}

.ecc_chooser_removeSubnetField {
    display: grid;
    /*margin: 2mm 0 2mm 0;*/
    padding: 1mm 1mm 1mm 1mm;
    text-align:  center;
    background: rgb(114, 114, 114);
    color: white;
    width: 4mm;
    user-select: none;
}



.ecc_chooser_addSubnetField:hover {
    cursor: pointer;
}

.ecc_chooser_removeSubnetField {
    cursor: pointer;
}

.ecc_chooser_name_vBackup {
    grid-area: name_vBackup;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_vBackup {
    display: grid;
    grid-area: value_vBackup;
    margin: 2mm 0 0 0;
}

.ecc_chooser_dimension_vBackup {
    grid-area: dimension_vBackup;
    align-self: center;
    color: black;
}

.ecc_chooser_name_BackupVM {
    grid-area: name_BackupVM;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_BackupVM {
    display: grid;
    grid-area: value_BackupVM;
    margin: 2mm 0 0 0;
}

.ecc_chooser_dimension_BackupVM {
    grid-area: dimension_BackupVM;
    align-self: center;
    color: black;
}

.ecc_chooser_name_USB {
    grid-area: name_USB;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_USB {
    display: grid;
    grid-area: value_USB;
    margin: 2mm 0 0 0;
}

.ecc_chooser_dimension_USB {
    grid-area: dimension_USB;
    align-self: center;
    color: black;
}

.ecc_chooser_name_AV {
    grid-area: name_AV;
    align-self: center;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_AV {
    display: grid;
    grid-area: value_AV;
    margin: 2mm 0 0 0;
}

.ecc_chooser_dimension_AV {
    grid-area: dimension_AV;
    align-self: center;
    color: black;
}

.ecc_chooser_name_AntiDDOS {
    grid-area: name_AntiDDOS;
    display: grid;
    margin: 2mm 0 0 0;
}

.ecc_chooser_value_AntiDDOS {
    grid-area: value_AntiDDOS;
    margin: 2mm 0 0 0;
}


.custom-select {
    grid-area: selector;
    background: white;
    font-family: "MTSSansWeb", serif;
    font-size: 4mm;
    height: 8mm;
    border: 0.2mm solid #dbdee5;
    width:100%;
}

.ecc_chooser_value_tarifModel {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #f1f1f1;
    justify-self: stretch;
}

.ecc_chooser_value_calculationModel {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #f1f1f1;
    justify-self: stretch;
}

.ecc_chooser_value_region {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #f1f1f1;
    justify-self: stretch;
}

.tab_chooser_links {
    padding: 2mm 4mm 2mm 4mm;
    height: 6mm;
    display: grid;
    border: none;
    outline: none;
    cursor: pointer;
    justify-self: stretch;
    justify-content: center;
    transition: 0.3s;
    font-size: 4mm;
}


/* Change background color of buttons on hover */
.tab_chooser_links:hover {
    background-color: #e7e7e7;
    color: black;
}

.tab_chooser_links_selected, .tab_chooser_links_selected:hover {
    background-color: #dcdcdc;
    color: black;
    justify-self: stretch;
}

.tab_chooser_links_unselected {
    background-color: #f3f3f3;
    color: black;
    justify-self: stretch;
}

.tab_chooser_links_inactive {
    background-color: white;
    color: white;
    pointer-events: none;
    justify-self: stretch;
}

.calculationPoolOrServerChooser {
    display: grid;
    background: yellow;
    justify-self: stretch;
}

.check_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.ecc_chooser_value_IPv6_input {
    background: #f3f3f3;
}

.ecc_addTo_result:hover {
    cursor: pointer;
}








